#bootstrap-overrides .row {
  flex-wrap: nowrap;
}

#bootstrap-overrides .list-group-horizontal {
  flex-wrap: nowrap;
}
#bootstrap-overrides .OrdersList form {
  width: 85%;
}
#bootstrap-overrides .OrdersList .allSelect {
  margin-right: calc(var(--bs-gutter-x) * 10);
  margin-left: calc(var(--bs-gutter-x) * -6);
}
#bootstrap-overrides .productInfo .list-group-item {
  width: 10%;
}

/* .OrdersList .AddOrderForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 2%;
  width: 80%;
}

.OrdersList .AddOrderForm h2,
.OrdersList .AddOrderForm h4 {
  width: 100%;
}

.OrdersList .AddOrderForm .nextLineToAdd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.OrdersList .AddOrderForm .clientInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 10%;
}

.OrdersList .AddOrderForm .productInfo {
  padding: 0;
  margin-left: 0;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.OrdersList .AddOrderForm .submit {
  padding-right: 5%;
  margin-bottom: 5%;
  align-self: center;
  width: 50%;
}

.OrdersList .AddOrderForm .productInfo li {
  display: block;
  font-size: 10px;
  margin-right: 2%;
  width: 10%;
}

.OrdersList .AddOrderForm .clientInfo p {
  padding-right: 5%;
  display: block;
  width: 10%;
} */
