.OrdersList .AddOrderForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 2%;
  width: 80%;
}

.OrdersList .AddOrderForm h2,
.OrdersList .AddOrderForm h4 {
  width: 100%;
}

.OrdersList .AddOrderForm .nextLineToAdd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.OrdersList .AddOrderForm .clientInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 10%;
}

.OrdersList .AddOrderForm .clientInfo p {
  padding-right: 5%;
  display: block;
  width: 10%;
}
