.ClientDetails {
  display: flex;
  flex-direction: row;
}

.ClientDetails aside {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  min-height: 90vh;
  width: 15%;
}

.ClientDetails aside button {
  margin-top: 10%;
  width: 70%;
  height: 5%;
  font-size: 0.6rem;
  border-radius: 8px;
  background-color: black;
  border: 2px solid #7dbaec;
  text-decoration: none;
  color: rgb(125, 186, 236);
  transition-duration: 0.6s;
  cursor: pointer;
}

.ClientDetails aside button:hover {
  background-color: rgb(125, 186, 236);
  color: black;
  border: 2px solid rgb(125, 186, 236);
}

.ClientDetails .clientInfo {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  width: 80%;
  font-size: 14px;
}

.ClientDetails .clientInfo .clientInfoFirstColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
}

.ClientDetails .clientInfo .clientInfoSecondColumn {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  padding-left: 3%;
  color: black;
  width: 50%;
}
