.ClientsList {
  display: flex;
  flex-direction: row;
}

.ClientsList aside {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 15%;
  min-height: 90vh;
}

.ClientsList aside button {
  margin-top: 10%;
  width: 70%;
  min-height: 5%;
  font-size: 90%;
  border-radius: 8px;
  background-color: black;
  border: 2px solid #7dbaec;
  text-decoration: none;
  color: rgb(125, 186, 236);
  transition-duration: 0.6s;
  cursor: pointer;
}

.ClientsList aside button:hover {
  background-color: rgb(125, 186, 236);
  color: black;
  border: 2px solid rgb(125, 186, 236);
}
/* 
.ClientsList .TableOfClients {
  margin-left: 2%;
  width: 80%;
}

.ClientsList .TableOfClients .row {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 2px solid rgb(170, 173, 175);
  width: 100%;
}

.ClientsList .TableOfClients .row h4 {
  width: 100%;
}
.ClientsList .TableOfClients .row .last {
  width: 20%;
}

.ClientsList .TableOfClients .row p {
  width: 100%;
}
.ClientsList .TableOfClients .row a {
  align-self: center;
  color: black;
  font-size: 1.2rem;
  width: 20%;
} */
#bootstrap-overrides td a {
  margin-top: 0;
  color: black;
  font-size: 120%;
}
