.AddItemForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.AddItemForm h2,
.AddItemForm h4 {
  width: 100%;
}

.AddItemForm .nextLineToAdd {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.AddItemForm .productInfo {
  padding: 0;
  margin-left: 0;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  height: 20%;
}
.OrdersList .AddItemForm select {
  margin-bottom: 5%;
  font-size: 10px;
  width: 80%;
}

.OrdersList .AddItemForm .productInfo li {
  display: block;
  font-size: 10px;
  margin-right: 2%;
  width: 10%;
}

.OrdersList .AddItemForm .productInfo input {
  font-size: 10px;
  width: 4%;
}

.OrdersList .AddItemForm .productInfo svg {
  padding-left: 2%;
  color: rgb(212, 18, 18);
  font-size: 15px;
}

.OrdersList .AddItemForm .productInfo .true {
  color: green;
  font-size: 15px;
}

.OrdersList .AddItemForm .productInfo button {
  padding-left: 2%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
