#bootstrap-overrides .AddItemForm .productInfo .list-group-item {
  width: 17%;
  padding: 0.5rem 0.5rem;
}
#bootstrap-overrides .productInfo .list-group-item {
  width: 13%;
  padding: 0.5rem 0.5rem;
}
#bootstrap-overrides .AddItemForm .productLoaded {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#bootstrap-overrides .AddItemForm .productLoaded2 {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 20%;
}
#bootstrap-overrides .AddItemForm .productLoaded .countInput {
  font-size: 80%;
  padding-left: 0.25rem;
  width: 65%;
}

#bootstrap-overrides .AddItemForm .productInfoAccept {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

#bootstrap-overrides
  .AddItemForm
  .productLoaded
  .productLoaded2
  .list-group-item {
  width: 65%;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
#bootstrap-overrides .AddItemForm .productsSumContainer .sum .list-group-item {
  width: 100%;
  padding: 0.5rem 0.5rem;
  cursor: default;
  align-self: flex-end;
}

#bootstrap-overrides .AddItemForm .sum {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 13%;
}

#bootstrap-overrides .AddItemForm .sum2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 13%;
  margin-right: 9%;
}

#bootstrap-overrides .AddItemForm .forSum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
}

#bootstrap-overrides .AddItemForm .productLoaded2 button {
  padding-left: 10%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

#bootstrap-overrides .AddItemForm .productLoaded2 svg {
  padding-left: 2%;
  color: rgb(212, 18, 18);
  font-size: 120%;
}

.AddItemForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.AddItemForm h2,
.AddItemForm h4 {
  width: 100%;
}

.AddItemForm .nextLineToAdd {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.AddItemForm .productInfo {
  padding: 0;
  margin-left: 0;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  height: 20%;
  align-items: center;
  width: 78%;
}

.OrdersList .AddItemForm select {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 80%;
  width: 80%;
}

.OrdersList .AddItemForm .productInfo li {
  display: block;
  font-size: 80%;
  margin-right: 2%;
  width: 10%;
}

.OrdersList .AddItemForm .productInfo .true {
  color: green;
  font-size: 15px;
}
