.ProducersList {
  display: flex;
  flex-direction: row;
}

.ProducersList aside {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 15%;
  min-height: 90vh;
}

.ProducersList aside button {
  margin-top: 10%;
  width: 70%;
  min-height: 5%;
  font-size: 90%;
  border-radius: 8px;
  background-color: black;
  border: 2px solid #7dbaec;
  text-decoration: none;
  color: rgb(125, 186, 236);
  transition-duration: 0.6s;
  cursor: pointer;
}

.ProducersList aside button:hover {
  background-color: rgb(125, 186, 236);
  color: black;
  border: 2px solid rgb(125, 186, 236);
}

.ProducersList .TableOfProducers {
  margin-left: 2%;
  width: 80%;
}

.ProducersList .TableOfProducers .row {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 2px solid rgb(170, 173, 175);
  width: 100%;
}

.ProducersList .TableOfProducers .row h4 {
  width: 100%;
}

.ProducersList .TableOfProducers .row p {
  width: 100%;
}
